python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_community
langchain_mistralai
langchain-ollama
InstructorEmbedding
langserve
fastapi
uvicorn
langchain_core
torch
python-multipart
sentence-transformers
huggingface_hub
pypdf
cryptography>=3.1
transformers